#comment_content {
	width: 400px;
	height: 100px;
}

div .title {
	float:left; 
	margin-left:10px;
}

.titleheader {
	margin-top:-3px; 
	margin-bottom:0px;
}

.userinfo {
	margin-bottom: 0px;
	font-size: small;
}

.timeposted {
	color: #888;
}

#tweets li {
	margin-bottom:10px;
	list-style: none;
}

#name img {
	float:left;
	margin-right: 10px;
}

#name {
	clear:both;
	height: 80px;
}